return
    override_enabled = true,
    preset = {{ dst_world_preset }}, --  or "SURVIVAL_TOGETHER" or "SURVIVAL_TOGETHER_CLASSIC" or "SURVIVAL_DEFAULT_PLUS" or "COMPLETE_DARKNESS" or "DST_CAVE"
    unprepared = { -- "never", "rare", "default", "often", "always"
        banana = "default",
        berrybush = "default",
        cactus = "default",
        carrot = "default",
        lichen = "default",
        mushroom = "default",
    },
    misc = {
        autumn = "default", -- "noseason", "veryshortseason", "shortseason", "default", "longseason", "verylongseason", "random"
        boons = "default", -- "never", "rare", "default", "often", "always"
        branching = "default", -- "never", "least", "default", "most"
        cavelight = "default", -- "veryslow", "slow", "default", "fast", "veryfast"
        day = "default", -- "default", "longday", "longdusk", "longnight", "noday", "nodusk", "nonight", "onlyday", "onlydusk", "onlynight"
        earthquakes = "default", -- "never", "rare", "default", "often", "always"
        frograin = "default", -- "never", "rare", "default", "often", "always"
        lightning = "default", -- "never", "rare", "default", "often", "always"
        loop = "default", -- "never", "default", "always"
        regrowth = "default", -- "veryslow", "slow", "default", "fast", "veryfast"
        season_start = "default", -- "default", "winter", "spring", "summer", "autumnorspring", "winterorsummer", "random"
        spring = "default", -- "noseason", "veryshortseason", "shortseason", "default", "longseason", "verylongseason", "random"
        start_location = "default", -- "caves", "default", "plus", "darkness"
        summer = "default", -- "noseason", "veryshortseason", "shortseason", "default", "longseason", "verylongseason", "random"
        task_set = "default", -- "classic", "default", "cave_default"
        touchstone = "default", -- "never", "rare", "default", "often", "always"
        weather = "default", -- "never", "rare", "default", "often", "always"
        wildfires = "default", -- "never", "rare", "default", "often", "always"
        winter = "default", -- "noseason", "veryshortseason", "shortseason", "default", "longseason", "verylongseason", "random"
        world_size = "default", -- "small", "medium", "default", "huge"
    },
    animals = { -- "never", "rare", "default", "often", "always"
        alternatehunt = "default",
        angrybees = "default",
        beefalo = "default",
        beefaloheat = "default",
        bees = "default",
        birds = "default",
        bunnymen = "default",
        butterfly = "default",
        buzzard = "default",
        catcoon = "default",
        frogs = "default",
        hunt = "default",
        lightninggoat = "default",
        moles = "default",
        monkey = "default",
        penguins = "default",
        perd = "default",
        pigs = "default",
        rabbits = "default",
        rocky = "default",
        slurper = "default",
        slurtles = "default",
        tallbirds = "default",
    },
    monsters = { -- "never", "rare", "default", "often", "always"
        bats = "default",
        bearger = "default",
        chess = "default",
        deciduousmonster = "default",
        deerclops = "default",
        dragonfly = "default",
        fissure = "default",
        goosemoose = "default",
        houndmound = "default",
        hounds = "default",
        krampus = "default",
        liefs = "default",
        lureplants = "default",
        merm = "default",
        spiders = "default",
        tentacles = "default",
        walrus = "default",
        worms = "default",
    },
    resources = { -- "never", "rare", "default", "often", "always"
        fern = "default",
        flint = "default",
        flower_cave = "default",
        flowers = "default",
        grass = "default",
        marshbush = "default",
        meteorshowers = "default",
        meteorspawner = "default",
        mushtree = "default",
        reeds = "default",
        rock = "default",
        rock_ice = "default",
        sapling = "default",
        trees = "default",
        tumbleweed = "default",
        wormlights = "default",
    },
}
