@ShutdownOnFailedCommand 1
@NoPromptForPassword 1
login {{ steamcmd_steam.username|default(anonymous) }} {{ steamcmd_steam.password|default(omit) }}
force_install_dir {{ dst_install_dir }}
app_update {{ dst_app_id }} validate
quit
